body {
    font-family: 'Noto Sans', sans-serif;
    margin: 3%;
}    

h4 {
    font-size: 1.2rem;
    
}

/* COLORS SECTION */

.color-square {
    color: white;
    text-align: center;
}

#colors {
    display: flex;
    align-items: center;
    justify-content: stretch;
}


#raspberry-light {
    background-color:#F24464;
    width: 100%;
    height: 300px;
}

#raspberry-dark {
    background-color:#BF3952;
    width: 100%;
    height: 300px;
}

#blue-marine {
    background-color:#0339A6;
    width: 100%;
    height: 300px;
}

#dark-blue {
    background-color:#022873;
    width: 100%;
    height: 300px;
}

#salmon {
    background-color:#F2CBC2;
    width: 100%;
    height: 300px;
}

.color-description {
    padding-top: 20%;
}

/* FONTS SECTION */

#fonts {
    display: flex;
    align-items: center;
    justify-content: stretch;
}

#poppins-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 0;
    text-decoration:underline; 

}

#poppins-400 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#poppins-600 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#poppins-800 {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

#roboto-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 0;
    text-decoration:underline
}

#roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#roboto-500 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

#roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

#poppins {
    background-color: rgba(248, 248, 248, 0.973);
    padding: 3%;
    width: 100%;
    height: 300px;
}

#roboto {
    background-color: rgba(248, 248, 248, 0.973);
    padding: 3%;
    width: 100%;
    height: 300px;
}

#text-styles h1 {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 600;
}

#text-styles h2 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: lighter;
}

#text-styles p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

